@model _2020_05_12_WebMVC.Models.PessoaModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Exclusão de registro da tabela</h2>

<h3>
    Você tem cergeza que deseja excluir este registro?
    <br>Não há como recuperar.
</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PessoaID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PessoaNome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaNome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PessoaEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PessoaTelefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaTelefone)
        </dd>
    </dl>

    <form asp-action="Delete">

        <input hidden asp-for="PessoaID" />

        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para lista de registros</a>
    </form>
</div>
